/* -------------------------------- 

Modal window 

-------------------------------- */
header{
  position: fixed;
  z-index: 4;
  width: 100%
}

.Stylefeetbase{
  opacity : 0;
  visibility : hidden;
  transition-property: opacity;
  transition-duration: 2s;
}
.Stylefeetmv {
  opacity :1;
  visibility : visible;
  transition-property: opacity;
  transition-duration: 2s;
}

.cd-modal {
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 3s 3s, visibility 3s 3s;
  -moz-transition: opacity 3s 3s, visibility 3s 3s;
  transition: opacity 3s 3s, visibility 3s 3s;
  display: none
}
.cd-modal .modal-content {
  background: url(./assets/img/modal-bg.png) no-repeat;
  height: 100%;
  color: #e4dcca;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.cd-modal h1 {
  text-align: center;
}
.cd-modal h1::after {
  /* ink/brush separation */
  content: '';
  display: block;
  width: 130px;
  height: 18px;
  margin: .2em auto 0;
}
.cd-modal p {
  line-height: 1.6;
  margin: 2em auto;
  max-width: 800px;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.visible {
  -webkit-transition: opacity 3s 3s, visibility 3s 3s;
  -moz-transition: opacity 3s 3s, visibility 3s 3s;
  transition: opacity 3s 3s, visibility 3s 3s;
  opacity: 1;
  visibility: visible;
  cursor: none;
  display: block;
}
.cd-modal.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 1100px) {
  .cd-modal .modal-close {
    height: 60px;
    width: 60px;
  }
  .cd-modal p {
    font-size: 2rem;
  }
}

.invisible{
  visibility: hidden;
}
/* -------------------------------- 

Transition Layer 

-------------------------------- */
.cd-btn{
    position: fixed;
    top: -31px;
    z-index: 100;
    display: block;
    border-radius: 50%;
    padding: 70px;
    right: -23px;
    display: none;
    z-index: 5;
    cursor: inherit;
}
.visible{
  display: block;
}
.imgwhite{
  cursor: none;
}
.cd-transition-layer {
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .cd-transition-layer .bg-layer {
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
    /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
    height: 100%;
    /* our sprite is composed of 25 frames */
    width: 2500%;
    background: url(assets/img/ink.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
  }
  .cd-transition-layer.visible {
    opacity: 1.0;
    visibility: visible;
    transition: opacity 3000ms;
  }
  .cd-transition-layer.opening .bg-layer {
    -webkit-animation: cd-sequence 0.8s steps(24);
    -moz-animation: cd-sequence 0.8s steps(24);
    animation: cd-sequence 0.8s steps(24);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .cd-transition-layer.closing .bg-layer {
    -webkit-animation: cd-sequence-reverse 0.8s steps(24);
    -moz-animation: cd-sequence-reverse 0.8s steps(24);
    animation: cd-sequence-reverse 0.8s steps(24);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .no-cssanimations .cd-transition-layer {
    display: none;
  }
  
  @-webkit-keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -webkit-transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -webkit-transform: translateY(-50%) translateX(-98%);
    }
  }
  @-moz-keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -moz-transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -moz-transform: translateY(-50%) translateX(-98%);
    }
  }
  @keyframes cd-sequence {
    0% {
      /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
      -webkit-transform: translateY(-50%) translateX(-2%);
      -moz-transform: translateY(-50%) translateX(-2%);
      -ms-transform: translateY(-50%) translateX(-2%);
      -o-transform: translateY(-50%) translateX(-2%);
      transform: translateY(-50%) translateX(-2%);
    }
    100% {
      /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
      -webkit-transform: translateY(-50%) translateX(-98%);
      -moz-transform: translateY(-50%) translateX(-98%);
      -ms-transform: translateY(-50%) translateX(-98%);
      -o-transform: translateY(-50%) translateX(-98%);
      transform: translateY(-50%) translateX(-98%);
    }
  }
  @-webkit-keyframes cd-sequence-reverse {
    0% {
      -webkit-transform: translateY(-50%) translateX(-98%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-2%);
    }
  }
  @-moz-keyframes cd-sequence-reverse {
    0% {
      -moz-transform: translateY(-50%) translateX(-98%);
    }
    100% {
      -moz-transform: translateY(-50%) translateX(-2%);
    }
  }
  @keyframes cd-sequence-reverse {
    0% {
      -webkit-transform: translateY(-50%) translateX(-98%);
      -moz-transform: translateY(-50%) translateX(-98%);
      -ms-transform: translateY(-50%) translateX(-98%);
      -o-transform: translateY(-50%) translateX(-98%);
      transform: translateY(-50%) translateX(-98%);
    }
    100% {
      -webkit-transform: translateY(-50%) translateX(-2%);
      -moz-transform: translateY(-50%) translateX(-2%);
      -ms-transform: translateY(-50%) translateX(-2%);
      -o-transform: translateY(-50%) translateX(-2%);
      transform: translateY(-50%) translateX(-2%);
    }
  }
.follower{
  position: absolute;
  top: 50%;
  left: 50%;
}
.lumos{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e8f7f7;
  box-shadow: 0 0 10px 10px #e8f7f7;
}